---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e17bc3c6b931f2c7e86b92f3ae348ba7&lat=39.760982&lon=-84.192203&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.761,"lon":-84.1922,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1659983823,"sunrise":1659955335,"sunset":1660005757,"temp":89.37,"feels_like":100.98,"pressure":1017,"humidity":65,"dew_point":76.05,"uvi":7.6,"clouds":75,"visibility":10000,"wind_speed":21.85,"wind_deg":230,"wind_gust":29.93,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1659983880,"precipitation":0},{"dt":1659983940,"precipitation":0},{"dt":1659984000,"precipitation":0},{"dt":1659984060,"precipitation":0},{"dt":1659984120,"precipitation":0},{"dt":1659984180,"precipitation":0},{"dt":1659984240,"precipitation":0},{"dt":1659984300,"precipitation":0},{"dt":1659984360,"precipitation":0},{"dt":1659984420,"precipitation":0},{"dt":1659984480,"precipitation":0},{"dt":1659984540,"precipitation":0},{"dt":1659984600,"precipitation":0},{"dt":1659984660,"precipitation":0},{"dt":1659984720,"precipitati[...]
