---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=qsdtuKr1TdTzPVFAzGAckLojz373YVO9&location=dayton,oh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 18:36:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dayton,oh"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dayton","adminArea5Type":"City","adminArea4":"Montgomery
        County","adminArea4Type":"County","adminArea3":"OH","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039242","unknownInput":"","type":"s","latLng":{"lat":39.760982,"lng":-84.192203},"displayLatLng":{"lat":39.760982,"lng":-84.192203},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=qsdtuKr1TdTzPVFAzGAckLojz373YVO9&type=map&size=225,160&locations=39.760982,-84.192203|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1754382540"}]}]}'
  recorded_at: Mon, 08 Aug 2022 18:36:27 GMT
recorded_with: VCR 6.1.0
