---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4bpKVNSgdtglHQNI8B-F3PXmUBhNUjO3-stuQObuO9gkCx_rHosMahLY921_X8j4ySwZIJo7rLBADoBt4QIAaSb1vXdfA0mfnRJpJ4Vf36gh24cD00D8E8ZZ0CTxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4925'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Zipkin-Id:
      - 6c60222243c44a45
      X-Routing-Service:
      - routing-main--useast1-5db947469f-fxzc8; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-141-8-useast1bprod
      X-Extlb:
      - 10-65-141-8-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "Yb4iTpZ3SjSEenqY6XMbFA", "alias": "taste-of-china-denver",
        "name": "Taste of China", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/jeBKUZqU9TxsDp4Y5HnHFg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/taste-of-china-denver?adjust_creative=5mPFCxCK3u-REAGXxWdkPQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5mPFCxCK3u-REAGXxWdkPQ",
        "review_count": 150, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "thai", "title": "Thai"}, {"alias": "asianfusion", "title": "Asian
        Fusion"}], "rating": 4.5, "coordinates": {"latitude": 39.74702, "longitude":
        -105.02571}, "transactions": ["pickup", "delivery"], "price": "$$", "location":
        {"address1": "1935 Federal Blvd", "address2": "", "address3": null, "city":
        "Denver", "zip_code": "80204", "country": "US", "state": "CO", "display_address":
        ["1935 Federal Blvd", "Denver, CO 80204"]}, "phone": "+13034772204", "display_phone":
        "(303) 477-2204", "distance": 4901.717617542795}, {"id": "fxs9RrByHO9ss-ULhBBxFg",
        "alias": "chinatown-bistro-denver", "name": "Chinatown Bistro", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/kVoKVW4n3toHjTZ9KnkPpg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/chinatown-bistro-denver?adjust_creative=5mPFCxCK3u-REAGXxWdkPQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5mPFCxCK3u-REAGXxWdkPQ",
        "review_count": 35, "categories": [{"alias": "chinese"[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=qsdtuKr1TdTzPVFAzGAckLojz373YVO9&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 18:36:28 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=qsdtuKr1TdTzPVFAzGAckLojz373YVO9&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1727181909"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=qsdtuKr1TdTzPVFAzGAckLojz373YVO9&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=790056793"}]}]}'
  recorded_at: Mon, 08 Aug 2022 18:36:28 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e17bc3c6b931f2c7e86b92f3ae348ba7&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659983782,"sunrise":1659960332,"sunset":1660010740,"temp":82.02,"feels_like":82.09,"pressure":1019,"humidity":45,"dew_point":58.6,"uvi":10.17,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":199,"wind_gust":8.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1659983820,"precipitation":0},{"dt":1659983880,"precipitation":0},{"dt":1659983940,"precipitation":0},{"dt":1659984000,"precipitation":0},{"dt":1659984060,"precipitation":0},{"dt":1659984120,"precipitation":0},{"dt":1659984180,"precipitation":0},{"dt":1659984240,"precipitation":0},{"dt":1659984300,"precipitation":0},{"dt":1659984360,"precipitation":0},{"dt":1659984420,"precipitation":0},{"dt":1659984480,"precipitation":0},{"dt":1659984540,"precipitation":0},{"dt":1659984600,"precipitation":0},{"dt":1659984660,"precipitati[...]
