---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=dayton,%20oh&term=chinese%20food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4bpKVNSgdtglHQNI8B-F3PXmUBhNUjO3-stuQObuO9gkCx_rHosMahLY921_X8j4ySwZIJo7rLBADoBt4QIAaSb1vXdfA0mfnRJpJ4Vf36gh24cD00D8E8ZZ0CTxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Zipkin-Id:
      - ae6330db0fd60403
      X-Routing-Service:
      - routing-main--useast1-5db947469f-p8x5k; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4926'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-164-1-useast1bprod
      X-Extlb:
      - 10-65-164-1-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "EWxSenxBsfQYJWxpxLWhXQ", "alias": "kung-fu-noodle-dayton",
        "name": "Kung Fu Noodle", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/YCnQxETs7O_9lm27pWU7rw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kung-fu-noodle-dayton?adjust_creative=5mPFCxCK3u-REAGXxWdkPQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5mPFCxCK3u-REAGXxWdkPQ",
        "review_count": 138, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "noodles", "title": "Noodles"}, {"alias": "bbq", "title": "Barbeque"}],
        "rating": 4.5, "coordinates": {"latitude": 39.7125, "longitude": -84.20062},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "2801 S Dixie Dr", "address2": "Ste 3", "address3": "", "city": "Dayton",
        "zip_code": "45409", "country": "US", "state": "OH", "display_address": ["2801
        S Dixie Dr", "Ste 3", "Dayton, OH 45409"]}, "phone": "+19379389027", "display_phone":
        "(937) 938-9027", "distance": 4200.206702279167}, {"id": "RiHAQvC5Ee_GnwwIg3EQQg",
        "alias": "cj-chan-dayton-2", "name": "CJ Chan", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/PqgFmAr1Z45Y1s8xUprCFw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/cj-chan-dayton-2?adjust_creative=5mPFCxCK3u-REAGXxWdkPQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5mPFCxCK3u-REAGXxWdkPQ",
        "review_count": 236, "categories": [{"alias": "japanese", "title": "Japanese"},
     [...]
